/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/smrnaseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input_paths = [
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/samples/sample_1.fastq.gz',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/samples/sample_2.fastq.gz',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/samples/sample_3.fastq.gz'
  ]
  // Genome references
  bt_indices = [
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.1.ebwt',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.2.ebwt',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.3.ebwt',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.4.ebwt',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.rev.1.ebwt',
    's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/bt_indices/genome.rev.1.ebwt'
  ]
  mature = 's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/mirbase/mature.fa'
  hairpin = 's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/mirbase/hairpin.fa'
  mirna_gtf = 's3://lifebit-featured-datasets/pipelines/smrnaseq/test_data/references/mirbase/hsa.gff3'
  mirtrace_species = "hsa"
  skip_mirdeep = true
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
